.g-5 {
    display: flex;
    height: auto;
    width: 1750px;
    text-align: center;
    margin-left: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

form {
    margin-left: 15px;
    margin-bottom: 15px;
}

input {
    margin-left: 10px;
    border-radius: 10px;
    border-inline-width: 2px;
}
